

:root {
  --clay: #97504D;
  --off-white: #DEE8E7;
  --dark-teal: #254654;
  --light-blue: #A8C5C8;
  --med-grey: #C1CBCD;
}

body {
  background-color: var(--light-blue);
  font-family: 'Open Sans', sans-serif;
  padding: 5%;
}

.heading {
  display: block;
}

.display-flex {
  display: flex;
}

.flex-direction-row {
  display: flex; /* this must be here */
  /*flex-direction: row;  /* default */
  /*flex-direction: column;*/
  flex-direction: row-reverse;
  /*flex-direction: column-reverse;*/
  /*padding: 5%;*/
}

.flex-direction-column {
  display: flex; /* this must be here */
  /*flex-direction: row;  /* default */
  flex-direction: column;
  /*flex-direction: row-reverse;*/
  /*flex-direction: column-reverse;*/
  /*padding: 5%;*/
}

.justify-content-space-around {
  display: flex;
  /*justify-content: flex-start;    /* default value */
  /*justify-content: flex-end;*/
  /*justify-content: center;*/
  /*justify-content: space-between;*/
  justify-content: space-around;
}

.justify-content-flex-end {
  display: flex;
  /*justify-content: flex-start;    /* default value */
  justify-content: flex-end;
  /*justify-content: center;*/
  /*justify-content: space-between;*/
  /*justify-content: space-around;*/
}

.align-items-center {
  display: flex;
  /*align-items: stretch; /* default value */
  /*align-items: flex-start;*/
  /*align-items: flex-end;*/
  align-items: center;
  /*align-items: baseline;*/
}

.align-items-flex-end {
  display: flex;
  /*align-items: stretch; /* default value */
  /*align-items: flex-start;*/
  align-items: flex-end;
  /*align-items: center;*/
  /*align-items: baseline;*/
}

.align-items-stretch {
  display: flex;
  align-items: stretch; /* default value
  /*align-items: flex-start;*/
  /*align-items: flex-end;*/
  /*align-items: center;*/
  /*align-items: baseline;*/
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  /*flex-wrap: nowrap;*/
  /*flex-wrap: wrap-reverse;*/
}

/* Used additional to flex-wrap */
/*.align-content {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: space-between;
  align-content: space-around;
}*/

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.child1 {
  background-color: var(--clay);
  padding: 1%;
}

.child2 {
  background-color: var(--dark-teal);
  padding: 1%;
}

.child3 {
  background-color: var(--med-grey);
  padding: 1%;
}

/*.margin {
  margin: 5%;
}*/

.set-width-child {
  width: 15%;
}

.set-size-child {
  width: 300px;
  /*height: 100px;*/
  margin: 10px;
}

.set-size-child-centered {
  width: 300px;
  /*height: 100px;*/
  margin: auto;
}

.set-width-parent {
  width: 60%;
  border: 1px solid black;
}

.set-size-parent {
  width: 60%;
  height: 400px;
  border: 1px solid black;
}

.set-height {
  height: 300px;
  border: 1px solid black;
}
